{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="./static/output.css" rel="stylesheet">
  </head>
  <body>
    {{ template "form" . }}
  </body>
</html>
{{ end }}

{{ block "form" .}}
<form hx-post="/generate" hx-swap="outerHTML">
  <label for="pages">Pages:</label>
  <input type="number" id="pages" name="pages" min="1" max="{{ .MaxPages }}" required value="1"/><br /><br />

  <label for="items">Sudokus per page:</label><br />
  {{ range .SudokusPerPageOptions }}
  <input type="radio" name="sudokusPerPage" value="{{.}}" required />
  <label for="item1">{{.}}</label><br />
  {{ end }}

  <button type="submit">Submit</button>
</form>
{{ end }}

{{ block "sudokus" . }}
<h1 class="text-lime-400 font-bold">response</h1>
{{ end }}